/* Main */
#forum-preview {
    position: relative;
    padding: $forumPreviewTopPadding $forumPreviewSidePadding 35px $forumPreviewSidePadding;
    min-height: 480px;
    background-color: #F9F9F9;
}